<h1>{{titulo}}</h1>
<div class="modal-footer">
  <form [formGroup]="formulario" (ngSubmit)="adicionar()">

    <div class="row">

      <div class="col">
        <input type="text" class="form-control" placeholder="Descrição" formControlName="descricao" >
      </div>

      <div class="col">
        <input type="text" class="form-control" placeholder="Quantidade de Alunos" formControlName="qtdAlunosTurma">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <input type="date" class="form-control" placeholder="Data Início" formControlName="dataInicio">
      </div>
      <div class="col">
        <input type="date" class="form-control" placeholder="Data" formControlName="dataTermino">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-6">
        <select class="form-select" aria-label="Default select example" formControlName="categoriaCursoId">
          <option value="" selected>Categoria</option>
          <option *ngFor="let categoriaCurso of categoriasCurso" value="{{categoriaCurso.categoriaCursoId}}">
            {{categoriaCurso.tipo}}</option>
        </select>
      </div>
    </div>

    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-sm btn-success" [disabled]="!formulario.valid">Salvar</button>
      <button type="button" class="btn btn-sm btn-danger" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
